@import "utils";

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 50px;
  border: 1px solid hsl(190, 96%, 32%);
  box-sizing: border-box;
  margin-right: 80px;
  font-size: 14px;
  text-transform: uppercase;
  background-color: white;

  color: hsl(0, 0%, 7%);

  &__arrow {
    margin-left: 10px;
  }
  transition: transform 0.5s, color 0.5s;

  &:hover {
    box-shadow: 2px 2px 5px rgba(154, 147, 140, 0.5);
    color: hsl(190, 96%, 32%);
  }
}

@media screen and (max-width:850px) {
  .button {
    width: 90%;
    margin-right: 0;
    background-color: hsl(52, 100%, 61%);
  }
}

@media screen and (max-width:550px) {
  .button {
    margin: 20px 0;
  }
}
