
.footer {
  height: 213px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 -1px 0 #e1e7ed;
  border: 1px solid white;

  &__container {
    display: flex;
    width: 901px;
    margin: 40px auto;
    @media screen and (max-width: 900px) {
      width: 100%;
      padding: 0 10px;
    }
  }

  &__subcontainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__link {
    text-decoration: none;
    color: #3d4e61;
    line-height: 27px;
    outline: none;
    transition: transform 0.5s;

    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }
}
