@import "utils";

.form {
  display: flex;
  flex-direction: column;

  &__input,
  &__textarea {
    margin-bottom: 32px;
    padding-bottom: 16px;
    padding-top: 16px;
    width: 100%;

    font-family: "Proxima Nova", sans-serif;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: flex-end;
    color: hsl(0, 0%, 31%);

    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);

    background-color: #ffec7a;
    transition: border-color 1s;

    &::placeholder {
      font-family: "Proxima Nova", sans-serif;
      font-size: 16px;
      line-height: 150%;
      display: flex;
      align-items: flex-end;
      color: hsl(0, 0%, 31%);

      opacity: 0.7;
    }

    &:focus {
      border-color: red;
    }
  }
}
