.hosted {
  width: 490px;
  &__title {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    margin: 15px 0 0;
  }

  &__were {
    font-size: 14px;
    line-height: 16px;
  }

  &__button {
    width: 150px;
    height: 50px;
    border: 1px solid #118488;
    background-color: white;
    border-radius: 4px;
    color: #118488;
    margin: 25px 0;
    font-size: 20px;
    transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: #118488;
      color: white;
    }
    &:focus {
      box-shadow: 0 0 5px 5px grey;
      background-color: #118488;
      color: white;
    }
  }

  @media screen and (max-width: 490px) {
    width: 100%;
  }
}
