$bg-color: hsl(0, 0%, 90%);
$logo-sec-color: hsl(190, 96%, 32%);
$text-color: rgb(79, 79, 79);
$placeholder-col: hsl(0, 0%, 31%);
$sale-color: hsl(348, 79%, 63%);
$h-color: hsl(0, 0%, 20%);
$h2-color: hsl(0, 0%, 0%);
$header-bg-color: hsl(51, 100%, 74%);
$button-text-color: hsl(0, 0%, 7%);
$form-border: rgba(0, 0, 0, 0.3);
$button-ativ-col: rgba(202, 201, 201, 0.74);
$but-shadow: rgba(154, 147, 140, 0.5);
$c-gray: white;
